#outercircle {
    height: 400px;
    width: 400px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
  }
  #innercircle {
    height: 170px;
    width: 170px;
    background-color: rgb(183, 182, 189);
    border-radius: 50%;
    position: absolute;
    left: 50px;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #triangle {
	  width: 0;
    height: 0;
    position: relative;
    border-left: 75px solid transparent;
	  border-right: 75px solid transparent;
    border-top: 110px solid rgb(78, 101, 235);
    margin-top: 29px;
}
.flex-for-text {
  width: 62px;
  height: 70px;
  position: relative;
  top: -108px;
  left: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .askMe {
      padding-top: 30px;
      text-align: center;
  }
  #theEight {
    font-size: 160px;
    position: absolute;
    left: 300px;
    top: 100px;
    color: white;
  }
  #a-button {
      cursor: grab;
      font-size: 18px;
      background: #29AE6E;
  }
  #a-button:hover{
    background: green;
}
  #question {
      width: 300px;
      font-size: 18px;
  }
body {
  height: 2000px;
  background-color: #A533FF; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #338DFF, #A533FF, #7733FF);
}
.footer {
	text-align: center;
}


@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    	transition:all 0.3s ease;
}